.ai-conversational {
  padding: 20px;

  .section-title {
    font-size: 1.25rem;
    color: #007bff;
  }

  .section-description {
    margin-bottom: 20px;
    color: #555;
  }

  .button-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
  }

  .btn {
    padding: 10px 20px;
    text-align: left;
  }
}

.h1 {
  font-weight: 700px;
  font-size: 30px;
  line-height: 45px;
}

.summaryBG {
  background: #f9f9f9;
}

.inputbox {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
}

.setBtn {
  position: absolute;
  bottom: 9px;
  right: 20px;
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 2px 12px;
}

.input-field {
  // padding: 0px 10px;
  position: relative;
  bottom: 0px;
}


.titleText{
    color: #2043DF;
}