.header {
  border-bottom: 1px solid #ddd;

  .app-title {
    font-weight: 600;
    color: #000000;
  }

  label {
    font-size: 16px;
    font-weight: 400;
    text-wrap: wrap;
  }
  .selectBox {
    border: none;
    color: blue;
    font-size: 16px;
    font-weight: 400;
  }

  select {
    background-image: linear-gradient(45deg, transparent 50%, black 60%),
      linear-gradient(135deg, black 40%, transparent 50%) !important;
    background-position: calc(100% - 18px) 10px, calc(100% - 9px) 10px, 100% 0;
    background-size: 10px 10px, 10px 10px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
}

@media (max-width: 768px) {
  .w-50 {
    width: 52vw !important;
  }
}
