<div class="container-fluid">
  <div class="row d-flex justify-content-between flex-shrink-1 flex-wrap flex-row">
    <div class="d-none d-lg-block col-md-1 ">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 px-3  rounded shadow-sm">
      <app-header></app-header>
      <app-ai-conversational></app-ai-conversational>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-5 px-3 rounded shadow-sm">
      <app-data-visual></app-data-visual>
    </div>
  </div>
</div>
