.svgIcons{
    background-color: blue;
}
.rounded{
    border-radius: 15px !important;
    overflow: hidden;
}
.hrLine{
    margin: 10px 10px;
}

.position{
    // margin-left: auto;
    // margin-right: auto;
    position: fixed;
    bottom: 3%;
    left: 3%;
    
}

.profile{
    height: 25px;
    padding: 5px;
    background-color: #2E4FE157;
    ;
    border-radius: 5px;
}